.container {
  display: flex;
  flex: 1;
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.notesWrapper {
  flex: 1;
  min-width: 0;
}