.main {
  width: 100%;
  min-height: calc(100vh - 100px); 
  padding: 32px 16px;
  display: flex;
  justify-content: center; 
}

.container {
  width: 100%;
  max-width: 720px;
  margin: 0; 
}

.title {
  margin: 0 0 24px;
  font-size: 32px;
  font-weight: 700;
}